<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.realmus.repository.mapper.CnHomeMapper">
  <resultMap id="BaseResultMap" type="com.realmus.repository.model.HomeDO">
    <!--@mbg.generated-->
    <!--@Table cn_home-->
    <id column="info_id" jdbcType="VARCHAR" property="infoId" />
    <result column="info_type" jdbcType="TINYINT" property="infoType" />
    <result column="relation_id" jdbcType="VARCHAR" property="relationId" />
    <result column="info_url" jdbcType="VARCHAR" property="infoUrl" />
    <result column="info_title" jdbcType="VARCHAR" property="infoTitle" />
    <result column="info_description" jdbcType="VARCHAR" property="infoDescription" />
    <result column="info_content" jdbcType="VARCHAR" property="infoContent" />
    <result column="info_weight" jdbcType="TINYINT" property="infoWeight" />
    <result column="info_time" jdbcType="TIMESTAMP" property="infoTime" />
    <result column="is_valid" jdbcType="TINYINT" property="isValid" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    info_id, info_type, relation_id, info_url, info_title, info_description, info_content, 
    info_weight, info_time, is_valid, modifier, gmt_modified
  </sql>

  <select id="findAllHomeInfo" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from cn_home
    where is_valid = 1
  </select>
</mapper>