<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.realmus.repository.mapper.MultimediaMapper">
    <resultMap id="BaseResultMap" type="com.realmus.repository.model.MultimediaDO">
        <!--@mbg.generated-->
        <!--@Table cn_multimedia-->
        <id column="multimedia_id" jdbcType="VARCHAR" property="multimediaId"/>
        <result column="multimedia_type" jdbcType="TINYINT" property="multimediaType"/>
        <result column="multimedia_url" jdbcType="VARCHAR" property="multimediaUrl"/>
        <result column="multimedia_desc" jdbcType="VARCHAR" property="multimediaDesc"/>
        <result column="is_valid" jdbcType="TINYINT" property="isValid"/>
        <result column="modifier" jdbcType="VARCHAR" property="modifier"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        multimedia_id, multimedia_type, multimedia_url, multimedia_desc, is_valid, modifier,
        gmt_modified
    </sql>

    <select id="getMultimediaEntityOne" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from cn_multimedia
        where multimedia_id in (
                SELECT multimedia_id
                from cn_multimedia_relation
                where relation_id = #{relationId,jdbcType=VARCHAR}
                )
    </select>
</mapper>