<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.realmus.repository.mapper.CnProductMapper">
    <resultMap id="BaseResultMap" type="com.realmus.repository.model.ProductDO">
        <!--@mbg.generated-->
        <!--@Table cn_product-->
        <id column="product_id" jdbcType="VARCHAR" property="productId"/>
        <result column="product_lv1type" jdbcType="VARCHAR" property="productLv1type"/>
        <result column="product_lv1_relation_id" jdbcType="VARCHAR" property="productLv1RelationId"/>
        <result column="product_lv2type" jdbcType="VARCHAR" property="productLv2type"/>
        <result column="product_lv2_relation_id" jdbcType="VARCHAR" property="productLv2RelationId"/>
        <result column="product_name" jdbcType="VARCHAR" property="productName"/>
        <result column="product_ingredient" jdbcType="VARCHAR" property="productIngredient"/>
        <result column="product_describe" jdbcType="VARCHAR" property="productDescribe"/>
        <result column="product_weight" jdbcType="TINYINT" property="productWeight"/>
        <result column="product_relation_id" jdbcType="VARCHAR" property="productRelationId"/>
        <result column="is_valid" jdbcType="TINYINT" property="isValid"/>
        <result column="modifier" jdbcType="VARCHAR" property="modifier"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        product_id, product_lv1type, product_lv1_relation_id,
        product_lv2type, product_lv2_relation_id, product_name, product_ingredient, product_describe,
        product_weight, product_relation_id, is_valid, modifier, gmt_modified
    </sql>

    <insert id="insertProductDOList">
        insert into cn_product(
        <include refid="Base_Column_List"/>
        )values
        <foreach collection="productDOList" item="item" separator=",">
            (#{item.productId,jdbcType=VARCHAR},
             #{item.productLv1type,jdbcType=VARCHAR},
             #{item.productLv1RelationId,jdbcType=VARCHAR},
             #{item.productLv2type,jdbcType=VARCHAR},
             #{item.productLv2RelationId,jdbcType=VARCHAR},
             #{item.productName,jdbcType=VARCHAR},
             #{item.productIngredient,jdbcType=VARCHAR},
             #{item.productDescribe,jdbcType=VARCHAR},
             #{item.productWeight,jdbcType=INTEGER},
             #{item.productRelationId,jdbcType=VARCHAR},
             1, #{item.modifier,jdbcType=VARCHAR},
             now())
        </foreach>
    </insert>
    <!--批量删除-->
    <delete id="deleteByNameList">
        delete
        from cn_product
                where product_name in
        <foreach collection="productNameList" open="(" close=")" item="product" separator=",">
            #{product,jdbcType=VARCHAR}
        </foreach>
    </delete>
</mapper>