<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.realmus.repository.mapper.EnProductMapper">
    <resultMap id="BaseResultMap" type="com.realmus.repository.model.ProductDO">
        <!--@mbg.generated-->
        <!--@Table en_product-->
        <id column="product_id" jdbcType="VARCHAR" property="productId"/>
        <result column="product_name" jdbcType="VARCHAR" property="productName"/>
        <result column="parent_id" jdbcType="VARCHAR" property="parentId"/>
        <result column="product_ingredient" jdbcType="VARCHAR" property="productIngredient"/>
        <result column="product_describe" jdbcType="VARCHAR" property="productDescribe"/>
        <result column="product_weight" jdbcType="TINYINT" property="productWeight"/>
        <result column="extend_json" jdbcType="VARCHAR" property="extendJson"/>
        <result column="is_valid" jdbcType="TINYINT" property="isValid"/>
        <result column="modifier" jdbcType="VARCHAR" property="modifier"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        product_id, product_name, parent_id, product_ingredient, product_describe, product_weight,
        extend_json, is_valid, modifier, gmt_modified
    </sql>
    <insert id="insertProductDOList">
        insert into en_product(
        <include refid="Base_Column_List"/>
        )values
        <foreach collection="productDOList" item="item" separator=",">
            (#{item.productId,jdbcType=VARCHAR},
             #{item.productName,jdbcType=VARCHAR},
             #{item.parentId,jdbcType=VARCHAR},
             #{item.productIngredient,jdbcType=VARCHAR},
             #{item.productDescribe,jdbcType=VARCHAR},
             #{item.productWeight,jdbcType=INTEGER},
             #{item.extendJson,jdbcType=VARCHAR},
             1, #{item.modifier,jdbcType=VARCHAR},
             now())
        </foreach>
    </insert>
    <update id="productInfoUpdate" parameterType="com.realmus.repository.model.ProductDO">
        <!--@mbg.generated-->
        update en_product
        <set>
            <if test="productName != null">
                product_name = #{productName,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=VARCHAR},
            </if>
            <if test="productIngredient != null">
                product_ingredient = #{productIngredient,jdbcType=VARCHAR},
            </if>
            <if test="productDescribe != null">
                product_describe = #{productDescribe,jdbcType=VARCHAR},
            </if>
            <if test="productWeight != null">
                product_weight = #{productWeight,jdbcType=TINYINT},
            </if>
            <if test="extendJson != null">
                extend_json = #{extendJson,jdbcType=VARCHAR},
            </if>
            <if test="isValid != null">
                is_valid = #{isValid,jdbcType=TINYINT},
            </if>
            <if test="modifier != null">
                modifier = #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
            </if>
        </set>
        where product_id = #{productId,jdbcType=VARCHAR}
    </update>
    <!--批量删除-->
    <delete id="deleteByNameList">
        delete
        from en_product
                where product_name in
        <foreach collection="productNameList" open="(" close=")" item="product" separator=",">
            #{product,jdbcType=VARCHAR}
        </foreach>
    </delete>

    <select id="getProductInfoParentIdList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from en_product
        where parent_id = '0'
    </select>
    <!--查询二级分类-->
    <select id="getProductInfoIdByParentId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from en_product
        where parent_id = #{productId,jdbcType=VARCHAR}
        order by product_weight desc
    </select>

    <select id="productLikeSearch" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from en_product
        <where>
            <if test="input != null and input != ''">
                product_name like concat('%', #{input,jdbcType=VARCHAR}, '%')
            </if>
        </where>
        order by length(product_name)
    </select>

    <select id="getProductInfoById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from en_product
        where product_id = #{productId,jdbcType=VARCHAR}
        limit 1
    </select>
</mapper>